<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-primary" href="https://www.linkedin.com/in/flora-martins-299631a3/" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://github.com/codefloracode" target="_blank">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="https://www.instagram.com/hiimf/" target="_blank">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</nav>